.header {
  background-color: #ff0000;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  height: 5.5rem;
}

* {
  margin: 0;
}

.container {
  border: 2px groove #ff0000;
  height: calc(100vh - 7.25rem);
  display: flex;
}

.options {
  border: 2px solid #ff0000;
  min-width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chip {
  margin-top: 2rem;
  border: 2px solid rgb(255, 0, 0);
  width: 6rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  text-align: center;
  font-size: 15px;
}

.main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.subject {
  min-height: 20vh;
  width: 90%;
  background-color: #ff0000;
  border: 9.5px double #ffffff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.9rem;
  height: auto;
  flex-grow: 1;
}
.subTitle {
  border-radius: 2rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  width: 40%;
}
.notes {
  width: 50%;
  margin-top: 0.3rem;
  border-radius: 0.5rem;
  font-family: "Times New Roman", Times, serif;
}
#imgnote {
  height: 15px;
  width: 15px;
}
.newnote {
  background-color: #ffffff;
  border-color: #ff0000;
}
.themeChanger {
  width: 40vw;
  height: 40vh;
  background: red;
  position: absolute;
  transform: translate(30vw, 20vh);
}
.selectThemeTitle {
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.themesContainer {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 15px;
  margin-left: 1rem;
  margin-top: 0.7rem;
  justify-content: space-between;
  height: 30%;
}
.theme {
  display: flex;
  flex-direction: row;
}
